# -------------------------------
# IntelliJ IDEA
# -------------------------------
.idea/*
!*.iml
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/
.idea/compiler.xml
.idea/modules.xml
.idea/KDT_BE12_Spring.iml

# 개별 사용자 설정 (버전관리 제외)
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml

# -------------------------------
# Build outputs
# -------------------------------
/target/

# -------------------------------
# Logs and temp
# -------------------------------
*.log
*.tmp

# -------------------------------
# OS-specific files
# -------------------------------
Thumbs.db

# -------------------------------
# IntelliJ IDEA
# -------------------------------